.wrap {
  background: white;
  color: red;
  border: 1px solid red;
  width: 30%;
  height: 100px;
  transition: 3s;
  display: flex;
}
.flight {
  color: black;
  align-items: center;
  justify-content: center;
  width: auto;
}
.wrap:hover {
  width: 100%;
  font-size: 3em;
}
